#!/usr/bin/env bash

# START VARIABLES elasticsearch.base
export CONTECO_DC_ELASTICSEARCH_PORTS="9200:9200"
export CONTECO_DC_ELASTICSEARCH_NETWORKS="${CONTECO_ECOSYSTEM}_overlay"
export CONTECO_DC_ELASTICSEARCH_DEPLOY=
export CONTECO_DC_ELASTICSEARCH_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="256m"
export CONTECO_DC_ELASTICSEARCH_VOLUMES_NAME="${CONTECO_ECOSYSTEM}_elasticsearch_volume"
# END VARIABLES elasticsearch.base

# START VARIABLES kibana.base
export CONTECO_DC_KIBANA_PORTS="5601:5601"
export CONTECO_DC_KIBANA_NETWORKS="${CONTECO_ECOSYSTEM}_overlay"
export CONTECO_DC_KIBANA_DEPLOY=
export CONTECO_DC_KIBANA_ELASTICSEARCH_HOSTS=http://elasticsearch:9200
export CONTECO_DC_KIBANA_SERVER_BASEPATH=
# END VARIABLES kibana.base

# START VARIABLES grafana.base
export CONTECO_DC_GRAFANA_PORTS="3000:3000"
export CONTECO_DC_GRAFANA_NETWORKS="${CONTECO_ECOSYSTEM}_overlay"
export CONTECO_DC_GRAFANA_DEPLOY=
export CONTECO_DC_GRAFANA_ENV_GF_SERVER_ROOT_URL=""
export CONTECO_DC_GRAFANA_VOLUMES_NAME="${CONTECO_ECOSYSTEM}_grafana_volume"
# END VARIABLES grafana.base


