#!/usr/bin/env bash

# START SETTINGS elasticsearch.base
export CONTECO_DC_ELASTICSEARCH_DEPLOY_RESOURCES_LIMITS_CPUS="0.75"
export CONTECO_DC_ELASTICSEARCH_DEPLOY_RESOURCES_RESERVATIONS_CPUS="0.1"
export CONTECO_DC_ELASTICSEARCH_DEPLOY_RESOURCES_LIMITS_MEMORY="384m"
export CONTECO_DC_ELASTICSEARCH_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="256m"
# END SETTINGS elasticsearch.base

# START SETTINGS kibana.base
export CONTECO_DC_KIBANA_DEPLOY_RESOURCES_LIMITS_CPUS="0.75"
export CONTECO_DC_KIBANA_DEPLOY_RESOURCES_RESERVATIONS_CPUS="0.05"
export CONTECO_DC_KIBANA_DEPLOY_RESOURCES_LIMITS_MEMORY="256m"
export CONTECO_DC_KIBANA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="128m"
# END SETTINGS kibana.base

# START SETTINGS grafana.base
export CONTECO_DC_GRAFANA_DEPLOY_RESOURCES_LIMITS_CPUS="0.75"
export CONTECO_DC_GRAFANA_DEPLOY_RESOURCES_RESERVATIONS_CPUS="0.05"
export CONTECO_DC_GRAFANA_DEPLOY_RESOURCES_LIMITS_MEMORY="128m"
export CONTECO_DC_GRAFANA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="64m"
# END SETTINGS grafana.base


