#!/usr/bin/env bash

# START SETTINGS elasticsearch.base
export CONTECO_DC_EKG_ELASTICSEARCH_DEPLOY_RESOURCES_LIMITS_MEMORY="768m"
export CONTECO_DC_EKG_ELASTICSEARCH_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="512m"
# END SETTINGS elasticsearch.base

# START SETTINGS kibana.base
export CONTECO_DC_EKG_KIBANA_DEPLOY_RESOURCES_LIMITS_MEMORY="512m"
export CONTECO_DC_EKG_KIBANA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="256m"
# END SETTINGS kibana.base

# START SETTINGS grafana.base
export CONTECO_DC_EKG_GRAFANA_DEPLOY_RESOURCES_LIMITS_MEMORY="128m"
export CONTECO_DC_EKG_GRAFANA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="64m"
# END SETTINGS grafana.base


